/* @media (min-width: 1024px) {
	.main-message {
		font-size: 4vw;

		small {
			font-size: 1.5vw;
		}
	}

	.description {
		padding: 0;
		font-size: 2rem;

		strong {
			font-size: 6rem;
		}
	}

	#scroll-section-2 {
		.main-message {
			font-size: 6vw;
		}

		.b {
			top: 20%;
			left: 53%;
		}

		.c {
			left: 55%;
		}
	}

	.sticky-elem.desc-message {
		&.desc-message {
			width: 20%;
		}
	}

	.mid-message {
		width: 1000px;
		padding: 0;
		font-size: 4vw;
	}

	.canvas-caption {
		font-size: 2rem;
	}
} */
