@media (max-width: 1200px) {
  .inner {
    padding: 0 20px;
  }
  #scroll-section-0 {
    h1 {
      p {
        font-size: 6rem;
      }
    }
  }

  .section_tit {
    margin-bottom: 0;
    p {
      font-size: 6rem;
    }
  }

  .main-message {
    font-size: 5rem;
  }

  #scroll-section-1 {
    height: auto !important;
    padding: 80px 0;
  }

  .workPortFolio {
    padding-top: 50px;
    .year_cate {
      margin-bottom: 0;
    }
    .work-item {
      &::before {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transform: translate(0);
        top: unset;
        margin: 0 auto;
        position: static;
      }
      a {
        text-align: center;
        flex-direction: column;
        > * {
          width: 100% !important;
        }
      }

      .info {
        max-width: 100%;
      }
      .more {
        &::before {
          display: none;
          // width: 100%;
        }
      }
    }
    .img {
      padding: 0 20px;
    }
    img {
      margin: 0 auto;
    }
  }

  .scroll-section {
    height: 350vh !important;
  }
}

@media (max-width: 767px) {
  #scroll-section-0 {
    h1 {
      p {
        font-size: 5rem;
      }
    }
  }

  .sticky-elem {
    .bigTit {
      font-size: 5rem;
      white-space: nowrap;
    }
  }
}

@media (max-width: 640px) {
  #scroll-section-0 {
    h1 {
      p {
        font-size: 4rem;
      }
    }
  }

  .main-message {
    font-size: 3rem;
  }
  .sticky-elem {
    .bigTit {
      font-size: 3.2rem;
    }
  }

  .section_tit {
    p {
      font-size: 5rem;
    }
  }

  .workPortFolio {
    .work-item {
      padding: 0;
      margin-top: 50px;
    }
    .arrows {
      justify-content: center;
      display: flex;
      gap: 20px;
      button {
        position: static;
      }
    }
  }
}
@media (max-width: 480px) {
  #scroll-section-0 {
    h1 {
      p {
        font-size: 3rem;
      }
      span {
        font-size: 1.6rem;
      }
    }
  }

  .main-message {
    font-size: 2.6rem;
  }

  .section_tit {
    p {
      font-size: 4rem;
    }
    span {
      font-size: 1.6rem;
    }
  }

  .workPortFolio {
    .work-item {
      .tit {
        span {
          font-size: 1.6rem;
        }
      }
    }
  }
}
